/*CSS reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*margin: 100px
padding: 25px
width: 1000px

=1125px

with border-box
margin: 100px
padding: 25px
content/width: 875px

=1000px*/

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	
	/*
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 20px;*/
	
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;

	/*2 values:  ;first value: top and bottom, 2nd value: left and right
		3 Values:  ;first value: top 2nd value: left and right 3rd value: bottom,;
	*/
}

nav .nav, nav .nav-logo {
	display: inline;
	margin: .8rem;
}

/*intro section*/
#intro {
	padding: 2rem 10%;
	text-align: center;
}

#intro > h2, #intro p, #succeed-info h2 {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	background-color: #c2195b;
	border-radius: 25px;
	padding: 1rem;
	font-size: 1rem;
	font-weight: bold;
}

#succeed-info{
	padding: 2rem 10%;
}

#succeed-info h3, #succeed-info .header{
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card{
	display: inline-block;
	vertical-align: top;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	width: 30%;
	min-height: 180px;
}

footer {
	padding:  1rem;
	text-align: center;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	display: flex;
	background-color: #002540;
	color: white;
	justify-content: center;
}

#pre-footer div{
	display: inline-block;
	vertical-align: top;
	margin-top: 1rem;
	margin-left: 4rem;
	margin-right: 4rem;
	width: 10%;
	min-height: 150px;
	